@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model Login_App.ViewModels.RegisterViewModel
<DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="content-type" content="text/html" />
        <meta name="keywords" content="Registration Page" />
        <meta name="description" content="Sign-Up Page" />
        <meta name="Developer" content="Denis J Finkel" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="~/Account/Registration/Style/css/style.css">
        <!--Icon library-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Account Registration</title>
    </head>
    <body>
        <header>
            <h1 id="title"></h1>
        </header>
        <main>
            <section id="form-layout">
                <form id="form-container" method="post">
                    <div>
                        <label class="label" asp-for="Email"></label>
                        <span class="input-form-validation" asp-validation-for="Email"></span>
                        <input class="input-box" asp-for="Email" />

                    </div>
                    <div>
                        <label class="label" asp-for="Password"></label>
                        <span class="input-form-validation" asp-validation-for="Password"></span>
                        <input class="input-box" asp-for="Password" />

                    </div>
                    <div>
                        <label class="label" asp-for="ConfirmPassword"></label>
                        <span class="input-form-validation" asp-validation-for="ConfirmPassword"></span>
                        <input class="input-box" asp-for="ConfirmPassword" />

                    </div>
                    <button id="button-register" type="submit">Register</button>
                    @Html.AntiForgeryToken()
                </form>
            </section>
            <div>
                <a  id="home-link" asp-controller="Home" asp-action="Index">Back Home</a><br />
            </div>
        </main>
    </body>
</html>
