// * Mixins *
@mixin testBorder($color) {
    border: 2px solid $color;
}

@mixin configBody_Weight_Height() {
    max-width: 1200px;
    min-width: 600px;
    max-height: 900px;
    min-height: 450px;
}


@-moz-keyframes slide-straight-right {
    0% {
        transform: skew(53deg) translateX(100%)
    }

    100% {
        transform: skew(0deg);
    }
}

@-webkit-keyframes slide-straight-right {
    0% {
        transform: skew(53deg) translateX(100%)
    }

    100% {
        transform: skew(0deg);
    }
}

// SLIDE IN From [Right]
@mixin slideInStraightRight() {
    -webkit-animation: slide-straight-right;
    -webkit-animation-delay: 4s;
    -moz-animation: slide-straight-right;
    -moz-animation-delay: 4s;
}



// SLIDE IN From [Left]
@mixin slideInStraightLeft() {
    -webkit-animation: slide-straight-left;
    -webkit-animation-duration: 4s;
    -moz-animation-name: slide-straight-left;
    -moz-animation-duration: 4s;

    @-moz-keyframes slide-straight-left {
        0% {
            transform: skew(53deg) translateX(-100%)
        }

        100% {
            transform: skew(0deg);
        }
    }

    @-webkit-keyframes slide-straight-left {
        0% {
            transform: skew(53deg) translateX(-100%)
        }

        100% {
            transform: skew(0deg);
        }
    }
}

@mixin animateLetterSpacing() {
    animation: move-letters 2s ease-in-out;
    animation-delay: 2s;

    @keyframes move-letters {
        0% {
            letter-spacing: 2px;
        }
    }
}
