@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
<!--ADDED-->
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html" />
    <meta name="keywords" content="Home Page" />
    <meta name="description" content="Main Home Page" />
    <meta name="Developer" content="Denis J Finkel" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Home/HowIStarted/css/style.css">
    <title>How I Started</title>
    <script src="~/Home/HowIStarted/js/index.js"></script>
</head>
<body>
    <!--Header-->
    <header>
        <div id="header-container">
            <h1 id="header-title">My Story On How I Started</h1>
            <a id="home-link" asp-action="Index">←Home</a>
        </div>
    </header>
    <!--MAIN-->
    <hr />
    <main>
        <!--CHAPTER 1-->
        <section class="container" id="container-1">
            <div>
                <h3>Chapter 1</h3>
                <p id="chapter_1-paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mauris pharetra et ultrices neque ornare. Quam quisque id diam vel quam elementum. Feugiat in fermentum posuere urna nec. Mattis rhoncus urna neque viverra justo nec. Mattis vulputate enim nulla aliquet porttitor lacus luctus. Vitae turpis massa sed elementum tempus. Sed libero enim sed faucibus turpis in eu. Ut eu sem integer vitae justo eget magna fermentum. Facilisis mauris sit amet massa vitae. Fames ac turpis egestas sed tempus urna. Eu lobortis elementum nibh tellus. Et pharetra pharetra massa massa ultricies mi. Amet facilisis magna etiam tempor.
                </p>
            </div>
        </section>
        <!--CHAPTER 2-->
        <section class="container" id="container-2">
            <div>
                <h3>Chapter 2</h3>
                <p id="chapter_2-paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mauris pharetra et ultrices neque ornare. Quam quisque id diam vel quam elementum. Feugiat in fermentum posuere urna nec. Mattis rhoncus urna neque viverra justo nec. Mattis vulputate enim nulla aliquet porttitor lacus luctus. Vitae turpis massa sed elementum tempus. Sed libero enim sed faucibus turpis in eu. Ut eu sem integer vitae justo eget magna fermentum. Facilisis mauris sit amet massa vitae. Fames ac turpis egestas sed tempus urna. Eu lobortis elementum nibh tellus. Et pharetra pharetra massa massa ultricies mi. Amet facilisis magna etiam tempor.

                    Neque ornare aenean euismod elementum nisi quis. Porta lorem mollis aliquam ut porttitor leo a diam sollicitudin. Vitae suscipit tellus mauris a diam maecenas. Vestibulum lorem sed risus ultricies tristique nulla aliquet. Pretium viverra suspendisse potenti nullam ac tortor vitae purus. Quam elementum pulvinar etiam non quam lacus suspendisse faucibus. At varius vel pharetra vel turpis. Suspendisse interdum consectetur libero id. Cras semper auctor neque vitae tempus quam pellentesque. Suspendisse in est ante in nibh mauris. Interdum consectetur libero id faucibus nisl tincidunt eget. Augue interdum velit euismod in pellentesque massa placerat duis ultricies.
                </p>
            </div>
        </section>
        <!--CHAPTER 3-->
        <section class="container" id="container-3">
            <div>
                <h3>Chapter 3</h3>
                <p id="chapter_3-paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacus vel facilisis volutpat est velit egestas. Consectetur lorem donec massa sapien faucibus et molestie ac. Sed velit dignissim sodales ut eu sem integer vitae justo. Egestas tellus rutrum tellus pellentesque. Semper viverra nam libero justo laoreet sit amet cursus. Congue eu consequat ac felis donec et odio pellentesque. Viverra orci sagittis eu volutpat. Metus aliquam eleifend mi in nulla posuere. A arcu cursus vitae congue mauris rhoncus aenean. Pellentesque elit ullamcorper dignissim cras tincidunt. Tempor id eu nisl nunc mi ipsum faucibus vitae. Quam pellentesque nec nam aliquam sem et. Elit ut aliquam purus sit amet luctus. Sed euismod nisi porta lorem mollis aliquam.

                    Quam adipiscing vitae proin sagittis nisl rhoncus. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at augue. Vulputate odio ut enim blandit volutpat maecenas. Habitasse platea dictumst quisque sagittis purus sit amet volutpat. Cursus in hac habitasse platea. Nec nam aliquam sem et tortor consequat. Massa placerat duis ultricies lacus sed. Purus in massa tempor nec feugiat nisl pretium fusce id. Egestas sed tempus urna et pharetra pharetra. Diam sollicitudin tempor id eu nisl. Lectus quam id leo in. Ac turpis egestas integer eget. Fermentum posuere urna nec tincidunt praesent semper feugiat nibh sed. A lacus vestibulum sed arcu non odio euismod lacinia at. Netus et malesuada fames ac turpis. Enim diam vulputate ut pharetra sit amet aliquam.

                    Interdum velit laoreet id donec ultrices tincidunt arcu non sodales. Commodo odio aenean sed adipiscing diam. Etiam non quam lacus suspendisse faucibus interdum posuere lorem. Maecenas accumsan lacus vel facilisis volutpat est velit. Ultrices vitae auctor eu augue. Fringilla urna porttitor rhoncus dolor purus non enim. Dolor sit amet consectetur adipiscing elit pellentesque habitant. Ac felis donec et odio pellentesque diam volutpat commodo sed. At auctor urna nunc id cursus metus. Sit amet risus nullam eget. Arcu bibendum at varius vel pharetra vel turpis nunc eget. Lacus laoreet non curabitur gravida arcu ac tortor. Ut tristique et egestas quis ipsum. Dolor sit amet consectetur adipiscing elit duis. Urna porttitor rhoncus dolor purus non enim praesent. Eget aliquet nibh praesent tristique magna sit amet. Augue interdum velit euismod in. Scelerisque purus semper eget duis at. Tincidunt lobortis feugiat vivamus at augue.
                </p>
            </div>
        </section>

    </main>
</body>
</html>