@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
<!--ADDED-->
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html" />
    <meta name="keywords" content="Home Page" />
    <meta name="description" content="Main Home Page" />
    <meta name="Developer" content="Denis J Finkel" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Home/Resume/css/style.css">
    <title>Resume</title>
</head>
<body>
    <!--Header-->
    <header>
        <div id="header-container">
            <h1 id="header-title">My Resume</h1>
            <a id="home-link" asp-action="Index">←Home</a>
        </div>
    </header>
    <!--MAIN-->
    <main>
        <p>&nbsp;</p>
        <!--Resume Header-->
        <section class="section-container">
            <div id="resume-header-container">
                <h1 id="title">Denis J. Finkel</h1>
                <div>
                    <p>
                        <!--address-info-->
                        <a id="address-info" href="http://maps.google.com/?q=100CrossroadsBlvd">
                            100 Crossroads Blvd
                            <br />Bossier City, LA 7111
                        </a>
                        <!--contact-info-->
                        <span id="contact-info">
                            (318)-663-8058
                            <br />
                            <a href="mailto:jfinkel.net@gmail.com">jfinkel.net@gmail.com</a>
                        </span>
                    </p>
                </div>
            </div>
        </section>
        <!--BREAK-->
        <div>
            <br />
            <br />
        </div>
        <!--Summary of Qualifications-->
        <section class="section-container">
            <div>
                <h2 id="summery-qualifications"><strong><u>Summary of Qualifications</u></strong></h2>
                <ul>
                    <li>Current student at Texas State Technical College (TSTC) enrolled in the Software Development program.</li>
                    <li>
                        I am looking for an internship or a job opportunity with a
                        company that is cutting edge. I'm hoping that your company
                        is interested in offering me an opportunity where I am able to use my talent.
                    </li>
                </ul>
            </div>
        </section>
        <!--Education-->
        <section class="section-container">
            <div>
                <h2><strong><u>Education</u></strong></h2>
                <p>
                    <em>
                        <strong>Associate of Applied Science</strong>
                        &ndash; Software Development&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;April 2020
                    </em>
                </p>
                <p>Texas State Technical College &ndash; Marshall, TX</p>
                <p><em><strong>High School Diploma</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; May 2015</em></p>
                <p>Natchitoches Central High School &ndash; Natchitoches, LA</p>
            </div>
        </section>
        <!--Skills-->
        <section class="section-container">
            <div>
                <h2><strong><u>Skills</u></strong></h2>
                <ul>
                    <li>Java</li>
                    <li>Swift</li>
                    <li>HTML/CSS</li>
                    <li>JavaScript</li>
                    <li>PHP</li>
                    <li>C#</li>
                    <li>SQL</li>
                    <li>Azure (SQL Server, Key vault)</li>
                </ul>
            </div>
        </section>
        <section class="section-container">
            <div>
                <h2><strong><u>Experience</u></strong></h2>
                <p><strong>Developing Software Applications&nbsp;&nbsp;</strong></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Class Software Projects</p>
                <p><strong>Creating Software Applications</strong></p>
                <ul>
                    <li>My Own Web and Mobile Software Applications</li>
                    <li>Published My Own Website with Azure App Services</li>
                    <li>
                        <strong>
                            <a id="github-link" href="https://github.com/JFinkel7?tab=repositories">GitHub Projects</a>
                        </strong>
                    </li>
                </ul>
            </div>
        </section>
        <p>&nbsp;</p>
    </main>
    <footer>
        <div id="empty-block"></div>
    </footer>
</body>
</html>